.toggle-arrow {
  cursor: pointer;
  margin-top: 60px;
  display: inline-block;
  transition: transform 0.4s ease-in-out;
  font-size: 2rem;
}

.toggle-arrow.open {
  transform: rotate(90deg);
}

.content-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out; /* Make the animation slower */
}

.content-container.expanded {
  max-height: 200px; /* Adjust this value to fit your content */
}
