.card-header {
  margin-bottom: 16px;
}

.GoodFood {
  width: 140px;
  margin: auto;
  margin-top: 16px;
}
.Intern {
  font-size: 12px;
  margin: 0px 230px 0px 230px;
}
@media (max-width: 960px) {
  #Experience {
    margin: 20px auto;
    width: 552px;
  }
  .Intern {
    margin: auto;
  }
}
#Experience {
  background-color: white;
  max-width: 912px;
  height: fit-content;
  border: 0px solid gray;
  margin-top: 20px;
  font-size: 16px;
  color: black;
  padding: 18px 24px;
  text-align: center;
  margin: 20px auto;
}
